main .contact-form {
    margin-left: 50vh;
    margin-right: 50vh;
    display: grid;
}

input {
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.form {
    cursor: pointer;
    width: 15%;
    height: 90%;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: inline;
}