#arrays-header{
    margin-left: 600px;
    margin-right: auto;
}

.results-div {
    margin-left: 300px;
    margin-right: auto;
}

#results-table {
    display: inline-block;
}

main {
    margin-bottom: 250px;
}

